<main>
    <div class="container">
        <div class="offers">
            <h1>Offers</h1>
            <div class="offcardcontainer">
                <div class="offcard">
                    <a href="#"><img src="~/client/assets/images/ranch-and-karnaval-cola-banner.png" alt=""></a>
                    <button>See More</button>
                </div>
                <div class="offcard">
                    <a href="#"><img src="~/client/assets/images/ranch-and-karnaval-cola-banner.png" alt=""></a>
                    <button>See More</button>
                </div>
                <div class="offcard">
                    <a href="#"><img src="~/client/assets/images/ranch-and-karnaval-cola-banner.png" alt=""></a>
                    <button>See More</button>
                </div>
                <div class="offcard">
                    <a href="#"><img src="~/client/assets/images/ranch-and-karnaval-cola-banner.png" alt=""></a>
                    <button>See More</button>
                </div>
                <div class="offcard">
                    <a href="#"><img src="~/client/assets/images/ranch-and-karnaval-cola-banner.png" alt=""></a>
                    <button>See More</button>
                </div>
                <div class="offcard">
                    <a href="#"><img src="~/client/assets/images/ranch-and-karnaval-cola-banner.png" alt=""></a>
                    <button>See More</button>
                </div>
            </div>

        </div>
    </div>

</main>