<main>
    <div class="container">
        <div class="slider">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="~/client/assets/images/Yeni-Pizza-banner.png" alt=""></div>
                    <div class="swiper-slide"><img src="~/client/assets/images/Kichik-chiken--and-Vestern-Barbekyu-banner.png" alt=""></div>
                    <div class="swiper-slide"><img src="~/client/assets/images/kichik-klassik-pepperoni-and-Pendirli-banner.png" alt=""></div>
                    <div class="swiper-slide"><img src="~/client/assets/images/papa talk banner.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="~/client/assets/images/pizza-party-sat-banner-2023.png" alt=""></div>
                    <div class="swiper-slide"><img src="~/client/assets/images/ranch-and-karnaval-cola-banner.png" alt=""></div>
                    <div class="swiper-slide"><img src="~/client/assets/images/Sayt Banner Bol Bol 2023.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="~/client/assets/images/Sayt-banner-vakansiya.png" alt=""></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</main>
