<main>
    <div class="container">
        <div class="filials">
            <div class="filial_intro">
                <h1>Restaurants</h1>
                <div class="adress">
                    <p>Nizami</p>
                </div>
                <span>Mirzagha Aliyev street. 138</span>
                <div class="clock">
                    <img src="~/client/assets/icons/clock.svg" alt="clock">
                    <p>11:00-23:00</p>
                </div>
                <div class="adress">
                    <p>Nizami</p>
                </div>
                <span>Mirzagha Aliyev street. 138</span>
                <div class="clock">
                    <img src="~/client/assets/icons/clock.svg" alt="clock">
                    <p>11:00-23:00</p>
                </div>
                <div class="adress">
                    <p>Nizami</p>
                </div>
                <span>Mirzagha Aliyev street. 138</span>
                <div class="clock">
                    <img src="~/client/assets/icons/clock.svg" alt="clock">
                    <p>11:00-23:00</p>
                </div>
                <div class="adress">
                    <p>Nizami</p>
                </div>
                <span>Mirzagha Aliyev street. 138</span>
                <div class="clock">
                    <img src="~/client/assets/icons/clock.svg" alt="clock">
                    <p>11:00-23:00</p>
                </div>
                <div class="adress">
                    <p>Nizami</p>
                </div>
                <span>Mirzagha Aliyev street. 138</span>
                <div class="clock">
                    <img src="~/client/assets/icons/clock.svg" alt="clock">
                    <p>11:00-23:00</p>
                </div>
            </div>
            <div class="filial_map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d97256.35089941329!2d49.841711069858796!3d40.38090843005319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sPapa%20John&#39;s%20Pizza!5e0!3m2!1sru!2saz!4v1716042448967!5m2!1sru!2saz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</main>